.wrapper {
  display: grid;
  grid-template-columns: 50% 30%;
  margin-left: 120px;
  grid-gap: 2em;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 120px;
  background: #290255;
}
.sidebar Header {
  font-size: 20px;
  text-align: center;
  color: white;
  line-height: 45px;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 25px;
  font-size: 10px;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
}
